@import "variables";
@import "mixins";
@import "fonts";

.contact-background_content {
  background-color: $blue-light;
  min-height: 819px;
  @include title($white, 119px, $textarea-top, $width: auto);
  .title {
    padding: 0;
    h1 {@include title-text(40px, 32px, 28px)}
    p {
      @include title-text(18px, 18px, 16px, 0);
      letter-spacing: 0.024em;
    }
  }

  form {
    margin: 74px auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .place_input {
      position: relative;
      overflow: hidden;
      padding: 0;
      margin: 0 $input-margin;
      max-width: 414px;

      .place_holder {
        z-index: 2;
        position: absolute;
        top: 20px;
        left: 26px;
        display: inline;
        color: $white;
        cursor: text;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;

        span {
          font-size: 16px;
          color: #ff4444;
        }
      }

      input, textarea {
        height: 56px;
        background-color: #273a71;
        color: $white;
        outline: 0;
        border: none;
        border-radius: 4px;
        width: 414px - ($padding-form * 2);
        padding: 0 $padding-form;

        &:focus + .place_holder, &:not(:placeholder-shown) + .place_holder {
          display: none;
        }
      }

      textarea {
        width: 860px - (($padding-form * 2) + ($border * 2));
        height: 200px - (($padding-form - $textarea-top) + ($border * 2));
        padding-top: $padding-form - $textarea-top;
        resize: vertical;
        max-height: 350px;
        min-height: 35px;
        border: $border solid rgba(0, 0, 0, 0);

        & + .place_holder {
          top: 22px;
        }
        @include contact-textarea;
      }
      @include contact-input;
    }

    .form_elements_line {
      display: flex;
      justify-content: center;
      padding: 0;
      @include contact;
    }

    .textarea {
      margin-top: 27px;
      margin-inline: 0;
      max-width: 860px;
      @include input-textarea;
    }

    .button {
      padding: 22px 83px 22px 85px;
      color: $white;
      background-color: $blue-button;
      border: none;
      border-radius: 4px;
      box-shadow: $button-shadow;
      margin-top: 56px;
      margin-bottom: 56px;
      margin-left: 2px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      letter-spacing: 0.01em;
      cursor: pointer;

      &:active {
        box-shadow: none;
        padding: 20px 83px 20px 85px;
        margin-top: 56px + 4px;
      }
    }
  }
}

textarea::-webkit-resizer {
  background: url(../compress_img/arrow.png) no-repeat;
}