@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 600;
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  src: url('../fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  src: url('../fonts/TitilliumWeb-Italic.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 300;
  src: url('../fonts/TitilliumWeb-Light.ttf');
}