$violet: #87509c;
$violet-hover: #643a79;
$orange: #eb7d4b;
$green-light: #17c2a4;
$cream: #e7f1f8;
$white: #ffffff;
$title-text: #3c4761;
$orange-light: #ffdd99;
$purple: #d74680;
$blue-light: #3c5499;
$blue: #344b8e;
$blue-button: #30bae7;

$button-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.14);

$padding-form: 25px;
$border: 4px;
$textarea-top: 7px;
$input-margin: 16px;
$padding-inline: 15px;
$padding-bottom: 60px;
$margin-input: 15px;

$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

